.container{
    display:flex;
    padding:20px;
    margin:10px;
    gap:20px; 
    
}
.card{
    border:2px solid black;
    border-radius:40px;
    font-weight:bold;
    box-shadow:5px 7px 12px rgba(0, 0, 0, 0.9);
    color:brown;
    background-color:aliceblue;
    
}
.card:hover{
    transform: scale(1.1);
    
}

.card img{
    height:100px;
    width:100px;
    object-fit:cover;
    border-radius:50%;
    border: 1px solid black;
}
.card label{
    font-size:larger;
    color:black;
}
